<div class="row">
  <div class="col-md-6 bg-primary height50">
    <p></p>
  </div>
  <div class="col-md-6 bg-danger height50">
    <p></p>
  </div>
</div>

<div class="height50"></div>

<div class="row">
  <div class="col-md-4 bg-primary height50">
    <p></p>
  </div>
  <div class="col-md-4 bg-success height50">
    <p></p>
  </div>
  <div class="col-md-4 bg-danger height50">
    <p></p>
  </div>
</div>

<div class="height50"></div>

<div class="row">
  <div class="col-md-3 bg-primary height50">
    <p></p>
  </div>
  <div class="col-md-3 bg-success height50">
    <p></p>
  </div>
  <div class="col-md-3 bg-danger height50">
    <p></p>
  </div>
  <div class="col-md-3 bg-warning height50">
    <p></p>
  </div>
</div>

<hr />

<div class="height50"></div>

<div class="row">
  <div class="col-xs-6 bg-primary height50">
    <p></p>
  </div>
  <div class="col-xs-6 bg-danger height50">
    <p></p>
  </div>
</div>

<div class="height50"></div>

<div class="row">
  <div class="col-sm-3 col-xs-6 bg-primary height50">
    <p></p>
  </div>
  <div class="col-sm-9 col-xs-6 bg-success height50">
    <p></p>
  </div>
</div>