<h1>Images</h1>
<div class="row">
  <div class="col-sm-4">
    <img src="https://static.pexels.com/photos/88212/pexels-photo-88212.jpeg" alt="" class="img-responsive img-rounded" />
  </div>
  <div class="col-sm-4">
    <img src="https://images.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg" alt="" class="img-responsive img-circle" />
  </div>
  <div class="col-sm-4">
    <img src="https://images.pexels.com/photos/35627/shells-massage-therapy-sand.jpg" alt="" class="img-responsive img-thumbnail" />
  </div>
</div>
