<!-- <div class="form-group">
  <input id="search" class="form-control input-lg" type="search" placeholder="Search for a title" />  
</div> -->

<div id="movies">
  <!-- <div class="jumbotron text-center">
    <h1><i>Loading...</i></h1>
  </div> -->
</div>

<!-- <div class="text-center">
  <p id="totals"></p>
</div> -->

<%#= link_to nil, 'Load More', {class: 'btn btn-block btn-primary load-more hide'} %>

<%= javascript_pack_tag 'application1' %>
