<p id="notice"><%= notice %></p>

<%#= render 'grid' %>
<%#= render 'typography' %>
<%#= render 'lists' %>
<%#= render 'tables' %>
<%#= render 'form' %>
<%#= render 'buttons' %>
<%#= render 'images' %>
<%#= render 'components' %>

<%= render 'movies' %>